@model IEnumerable<AuditingMoneyClient.Models.Balance.BalanceViewModel>
@{
    ViewData["Title"] = "Баланси";
}
<a asp-controller="Balance" asp-action="Create">Створити баланс</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)

                </td>
                <td>
                    <a asp-controller="CashAccount" asp-action="Create" asp-route-id="@item.Id">Створити рахунок</a>
                </td>
                <td>
                    <a asp-controller="CashAccount" asp-action="Index" asp-route-id="@item.Id">Переглянути рахунки</a>
                </td>
            </tr>
        }
    </tbody>
</table>



